/* Increase the width of the modal */
.modal-dialog {
 	width: 96vw;
}

/* Increase the height of the modal */
.modal-content .pre-scrollable {
	max-height: 75vh;
}

/* Hide the purchasing and name until hover */
.modal-content .media-body {
	background: #fffc;
	display: none;
	flex-flow: row wrap;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 8px;
	width: 100%;
}

/* Show all the products in a grid layout */
.modal-content .list-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

/* Make the paragraph be full width for flexing */
.modal-content .media-body p {
	width: 100%;	
}

/* Set a fixed with for the number selector */
.modal-content .media-body .form-control {
	width: 70px !important;
}

/* Set the last p containing the cart button to sit next to the input */
.modal-content .media-body .form-group + p {
	padding-left: 8px;
	width: auto;
}

/* Set the product card to flex */
.modal-content .list-group-item:hover .media-body {
	display: flex;
}

/* Remove margin from the title of the product */
.modal-content .media-body .media-heading {
	margin-top: 0;
}

/* Hide the little image */
.modal-content .zoom-load {
	display: none;
}

/* Show the big image */
.modal-content .zoomImg {
	opacity: 1 !important;
	position: static !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: auto !important;
}

/* Make the link full width */
.modal-content a.pull-left {
	width: 100%;
}

/* NEW DISC LISTING! */

/* Hide most of the junk in the Newly Added Discs listing */
#tbl_new_discs .media-body > p {
	display: none;
}

/* Hide stupid Details button */
#tbl_new_discs .list-group-item .media-body > p:last-child > button:last-child {
	display: none;
}

/* On hover, show the add to cart buttons */
#tbl_new_discs .list-group-item:hover .media-body > p:last-child {
	display: flex;
	justify-content: center;
	opacity: 1;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
} 

/* Show the Add to Cart button, BABY! */
#tbl_new_discs .media-body:hover > p:last-child > .btn-new-added {
	display: block;
}

/* Make the disc name display off left, smol */
#tbl_new_discs .media-body .media-heading {
	background: rgba(255,255,255, .75);
	display: block;
	padding: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 10px;
}

/* Hide the disc name on hover */
#tbl_new_discs .list-group-item:hover .media-body .media-heading {
	opacity: 0;
}

/* Hide the rest of the junk */
#tbl_new_discs .media-body .media-heading .label-primary {
	display: none;
}

/* Remove extra margin in panel */
#tbl_new_discs .media .pull-left {
	margin-right: 0;
}

/* Make margin even */
#tbl_new_discs .list-group {
	margin-bottom: 4px;
}

/* grid bby */
#tbl_new_discs tbody {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	position: relative;
}

/* Center and make the pagination nice bobby */
#tbl_new_discs + .row > .col-sm-6 {
	display: flex;
	justify-content: center;
	width: 100%;
}
